* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
    gap: 32px;
}

button {
    padding: 12px 18px;
    border-radius: 6px;
    border: none;
    line-height: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

#grid-container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 960px;
  border: 0px;
  box-sizing: border-box;
  background-color: white;
}

.row {
  display: flex;
  flex: 1;
}

.square {
    flex: 1;
    aspect-ratio: 1 / 1;
    border: 0px;
    box-sizing: border-box;
}

.hovered {
    background-color: black;
}

.leftClickHovered {
    background-color: white;
}